<ng-container *ngIf="auth.isLoading$ | async; else loaded">
  <div class="flex items-center justify-center h-screen">
    <div class="text-center">
      <div class="animate-spin rounded-full h-12 w-12 border-b-2 border-blue-600 mx-auto"></div>
      <p class="mt-4 text-gray-600">Cargando...</p>
    </div>
  </div>
</ng-container>
<ng-template #loaded>
  <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </ng-container>
  <ng-template #loggedOut>
    <app-login></app-login>
  </ng-template>
</ng-template>