<div>
  <a href="javascript:void(0)" class="metric-card">
    <div class="flex grow items-center justify-between p-5">
      <dl>
        <dt class="metric-value">{{ metric.value}}</dt>
        <dd class="metric-title">{{ metric.title }}</dd>
      </dl>
      <div class="metric-icon-container" [ngClass]="{
          'metric-success': metric.title === 'Pedidos completados',
          'metric-warning': metric.title === 'Pedidos pendientes',
          'metric-error': metric.title === 'Pedidos cancelados'
        }">
        <img src="assets/icons/{{metric.svg}}.svg" class="h-7 w-7" />
      </div>
    </div>
    <div class="metric-footer">
      <p>{{ metric.subTitle }}</p>
    </div>
  </a>
</div>
